<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Photo Album</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="blogs__wraper  py-20 px-20">
        <div class="flex justify-between items-center">
            <div class="bg-gray-100 lg:py-12 lg:flex lg:justify-center">
                <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
                    <div class="lg:w-1/2">
                        <div class="h-64 bg-cover  lg:h-full">
                            <img class="lg:rounded-lg" src="{{ photos.image.url  }}" alt="" srcset="">
                        </div>
                    </div>
                    <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                        <h2 class="text-3xl text-gray-800 font-bold">
                        <span class="text-indigo-600">{{ photos.title | title }}</span></h2>
                        <p class="mt-4 text-gray-600">{{ photos.description }}</p>
                        
                        {% for accounts in profile %}
                        <div class="inline-flex items-center">
                            <a class="flex items-center no-underline hover:underline text-black" href="{% url 'profile' %}">
                                <img alt="Author" class="inline object-cover w-8 h-8 rounded-full m-2"
                                    src="{{ accounts.image.url }}">

                                <div class="ml-2 inline-flex items-center">
                                    <span class="capitalize font-base text-xs my-1 mr-1">{{ accounts.full_name }}</span>
                                    <svg class="stroke-current stroke-1 text-blue-600 w-4"
                                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                        <br>
                        
                        {% for items in hastags %}
                        <span class="bg-blue-100 px-4 py-2 text-xs font-semibold tracking-wider text-blue-600 rounded hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"><a href="">{{ items.tags | lower }}</a></span>
                        {% endfor %}

                <div class="mt-8">
                    <a href="{% url 'home' %}"
                        class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded">Go Back</a>

                    <a href="{% url 'edit' photos.pk %}"
                       class="bg-indigo-500 text-gray-100 px-5 py-3 font-semibold rounded">Update</a>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>