<!DOCTYPE html>
<html lang="en">
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Humanize</title>
</head>
<body class="bg-gray-300">
    <div class="text-center mt-20">
        <h3 class="text-indigo-400 text-4xl">Learning Humanize</h3>
        

        
        
        <div class="text-green-500 mt-4 p-2">
        
        <a href="https://docs.djangoproject.com/en/3.2/ref/contrib/humanize/">Read docs</a>
        </div>
       
    </div>

    <div class="text-center text-green-700">
        <strong>apnumber¶</strong>
        <br>
        For numbers 1-9, returns the number spelled out. Otherwise, returns the number. This follows Associated Press style.
    </div>
    <div class="text-center text-green-700">
    
    
     <h3>Trying to filter data with the help of humanize.</h3>
        
        <h4>

        <strong> 
        {{ first | apnumber}}
        </strong>


        <h3> <strong>ntword¶</strong>
        <br>
        Converts a large integer (or a string representation of an integer) to a friendly text representation. Translates 1.0 as a singular phrase and all other numeric values as plural, this may be incorrect for some languages. Works best for numbers over 1 million.</h3>

        <strong>
        {{ second | intword }}
        </strong>
        </h4> 
    </div>
    
    <div class="text-center text-green-700">
    <strong>intcomma¶</strong>
    <p>Converts an integer or float (or a string representation of either) to a string containing commas every three digits.</p>
    <strong>
    {{ third | intcomma }}
    </strong>
    </div>

    
    <div class="text-center text-green-700">
    <strong>ordinal¶</strong>
    <p>Converts an integer to its ordinal as a string.</p>

        <p>Examples:</p>
    <ul>
        <li>
            1 becomes 1st.
            2 becomes 2nd.
            3 becomes 3rd.</li>
    </ul>
    <strong>
    {{ ordinal | ordinal }}
    </strong>
    </div>
    <div class="text-center text-green-700">
    <strong>naturaltime¶</strong>
    <p>For datetime values, returns a string representing how many seconds, minutes or hours ago it was – falling back to the timesince format if the value is more than a day old. In case the datetime value is in the future the return value will automatically use an appropriate phrase.</p>

    <strong>
    {{ now | naturaltime }}
    <br>
    {{ today | naturalday }}
    <br>
    {{ other_date | naturalday }}
    <br>

    {{ future_date | naturaltime }}

    <br>
    {{ past_date | naturaltime }}

    <br>
    {{ test | wordcount }}

    
    </strong>

    <br>

    {{ UserCreationForm }}
</body>
</html>