<!DOCTYPE html>
{% load tailwind_filters %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Forgotten password?</title>
         <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="bg-indigo-200 min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-blue-100 px-6 py-8 rounded shadow-md text-black w-full">
                    <h1 class="mb-8 text-3xl text-center font-bold">Password reset</h1>
                        <p class="text-center text-1xl font-bold">Enter your email address below, and we’ll email instructions for setting a new one.</p>
                    <br>
					<form method="post">

						{% csrf_token %}
						{{ form|crispy }}
						<input class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-green-400 hover:bg-green-dark  rounded py-2 w-full transition duration-150 ease-in" type="Submit" value="Send email">
						
					</form>
            </div>
        </div>
        </div>
    </body>
</html>